<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017842887963-di608udf2chbne82av1cien4633avc9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017842887963-di608udf2chbne82av1cien4633avc9r</string>
	<key>API_KEY</key>
	<string>AIzaSyD6lN5YS76GNaZpqhH6r5WgSbiIfZrduUo</string>
	<key>GCM_SENDER_ID</key>
	<string>1017842887963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodox.beta.prodox</string>
	<key>PROJECT_ID</key>
	<string>prodox-bae03</string>
	<key>STORAGE_BUCKET</key>
	<string>prodox-bae03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017842887963:ios:3e833f9af0d204516ff7be</string>
</dict>
</plist>